<style type="text/css">
.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #637aad), color-stop(1, #5972a7) );
	background:-moz-linear-gradient( center top, #637aad 5%, #5972a7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7');
	background-color:#637aad;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
text-indent:0;
	border:1px solid #314179;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:35px;
	line-height:35px;
width:140px;
	text-decoration:none;
	text-align:center;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5972a7), color-stop(1, #637aad) );
	background:-moz-linear-gradient( center top, #5972a7 5%, #637aad 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#637aad');
	background-color:#5972a7;
}.classname:active {
	position:relative;
	top:1px;
}</style>
